[Desktop Entry]
Name=EBreakTime daemon
GenericName=EBreak Time daemon
Comment=Manage your time daemon
Categories=Utility;
Exec=io.elementary.ebreaktimed %U
Icon=io.elementary.ebreaktime
Terminal=false
Type=Application
Keywords=Time break;
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true
NoDisplay=true
